{% extends "index.html" %}
{% block body %}



<h1>Witamy w naszej aplikacji</h1>
<p>Przydatne linki:</p>
<ul>
    <li><a href="identity">Losowa tożsamość</a></li>
    <li><a href="typing">Sprawdź swoją prędkość pisania</a></li>
    <li><a href="reading">Sprawdź swoją prędkość czytania</a></li>
    <li><a href="Przeliczwaluty">Przelicz wybrane waluty</a></li>
    <li><a href="rock_paper">Papier kamień nożyce</a></li>
    <li><a href="tic_tac">Kółko i krzyżyk</a></li>
    <li><a href="calculator">Kalkulator IP</a></li>
</ul>





{% endblock %}
