{% extends "index.html" %}
{% block body %}





<div class="row justify-content-center mt-5">
    <div class="col-6 home-box p-5" style="border:2px solid #ccc">
        <h1 class="text-center pt-5">Witamy w naszej aplikacji</h1>
        <p>Przydatne linki:</p>
        <ul class="list-group">
            <li class="list-group-item"><a href="identity">Losowa tożsamość</a></li>
            <li class="list-group-item"><a href="typing">Sprawdź swoją prędkość pisania</a></li>
            <li class="list-group-item"><a href="reading">Sprawdź swoją prędkość czytania</a></li>
            <li class="list-group-item"><a href="Przeliczwaluty">Przelicz wybrane waluty</a></li>
            <li class="list-group-item"><a href="rock_paper">Papier kamień nożyce</a></li>
            <li class="list-group-item"><a href="tic_tac">Kółko i krzyżyk</a></li>
            <li class="list-group-item"><a href="calculator">Kalkulator IP</a></li>
        </ul>
    </div>
  </div>



{% endblock %}
