<!doctype html>
<html lang="en">
<head>

	<meta charset="utf-8">
	<meta name="author" content=" Grupa X ">
	<meta name="description" content="SiNWO Zaliczenie">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<link rel="stylesheet" href="/css/bootstrap.min.css">
	<link rel="stylesheet" href="/css/font-awesome.min.css">

	<script type="text/javascript" src="/js/fonts.min.js"></script>

	<title>Zaliczenie SiNWO</title>
	<link rel="shortcut icon" type="image/png" href="/img/favicon.png"/>
</head>

<body>

	<!--  ten tag dekoruje inne pliki .html   -->
	{% block body %}{% endblock %}

	<script src="/js/jquery-3.3.1.slim.min.js"></script>
	<script src="/js/popper.min.js"></script>
	<script src="/js/bootstrap.min.js"></script>
</body>
</html>



