<!DOCTYPE html>
<html lang="pl-PL">
<head>
	<meta charset="UTF-8">
	<title>Kamień, papier, nożyce</title>

</head>
<body>
	<h1>Witamy w naszej aplikacji</h1>
	<p>Przydatne linki:</p>
	<ul>
    		<li><a href="#">Losowa tożsamość</a></li>
    		<li><a href="#">Sprawdź swoją prędkość pisania</a></li>
    		<li><a href="#">Przelicz wybrane waluty</a></li>
    		<li><a href="#">Papier kamień nożyce</a></li>
   		<li><a href="#">Kółko i krzyżyk</a></li>
    		<li><a href="#">Kalkulator IP</a></li>
	</ul>
	<form action="#" method="POST">
		<input type="radio" name="nm" id="1" value="1">Kamień<br />
		<input type="radio" name="nm" id="2" value="2">Papier<br />
		<input type="radio" name="nm" id="3" value="3">Nożyce<br /><br />
		<input type="submit" value="Wyślij" />
	</form>
</body>
