{% extends "home.html" %}
{% block title %}Kolko i krzyżyk{% endblock %}

{% block body %}
<h1>Kółko i krzyżyk</h1>
    <h2>{{msg}}</h2>
    <form action="" method="POST">
      <table>

        {% for j in range(0, 3) %}
        <tr>
          {% for i in range(0, 3) %}
          <td>
            <button type="submit" name="choice" value="{{j*3+i+1}}"
             {{"disabled" if (t.spot_string(i, j)!="_" or msg=="AI Wygrywa")}}>
              {{t.spot_string(i, j)}}
            </button>
          </td>
          {% endfor %}
        </tr>
        {% endfor %}
      </table>
      <button type="submit" name="reset">Start Over</button>
    </form>

{% endblock %}